## Домашнее задание «Библиотека Pandas»

### Задание 1

In [ ]:
"""
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.
"""

In [102]:
import pandas as pd

In [104]:
# Загружаем файл с фильмами
mov_df = pd.read_csv('ml-latest-small/movies.csv')
mov_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [105]:
# Загружаем файл с рейтингом
rat_df = pd.read_csv('ml-latest-small/ratings.csv')
rat_df.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [106]:
# Объединяем таблицы 
current_df = mov_df.merge(rat_df, left_on = 'movieId', right_on = 'movieId', how = 'inner')
current_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [154]:
# Выводим фильмы с максимальным количеством оценок "5"
film_max_rat = (current_df
 .query('rating == 5.0')
 .groupby('title')
 .agg(count_rat = ('rating', 'sum'))
 .sort_values('count_rat', ascending=False)
)
film_max_rat.head()

                                           count_rat
title
Shawshank Redemption, The (1994)               765.0
Pulp Fiction (1994)                            615.0
Forrest Gump (1994)                            580.0
Matrix, The (1999)                             545.0
Star Wars: Episode IV - A New Hope (1977)      520.0

In [165]:
# Получаем результат
best_movie = film_max_rat.loc[film_max_rat['count_rat'] == 765.0]
print(best_movie)

                                  count_rat
title
Shawshank Redemption, The (1994)      765.0

### Задание 2

In [ ]:
"""
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.
"""

In [132]:
# Загружаем датафрейм с потреблением по странам
country_df = pd.read_csv('power.csv')
country_df.head(50)

    country  year  quantity  category
0   Austria  1996       5.0         1
1   Austria  1995      17.0         1
2   Belgium  2014       0.0         1
3   Belgium  2013       0.0         1
4   Belgium  2012      35.0         1
5   Belgium  2011      25.0         1
6   Belgium  2010      22.0         1
7   Belgium  2009      45.0         1
8   Czechia  1998       1.0         1
9   Czechia  1995       7.0         1
10  Finland  2010       9.0         1
11  Finland  2009      13.0         1
12  Finland  2008      39.0         1
13  Finland  2007      21.0         1
14  Finland  2006       0.0         1
15  Finland  2005       0.0         1
16  Finland  2004       0.0         1
17  Finland  2003       0.0         1
18  Finland  2002       0.0         1
19  Finland  2001       0.0         1
20  Finland  2000       0.0         1
21  Finland  1999       0.0         1
22  Finland  1998       0.0         1
23  Finland  1997       0.0         1
24  Finland  1996       0.0         1
25  Finland  1995       3.0         1
26   France  2014     119.0         1
27   France  2013     102.0         1
28   France  2012      62.0         1
29   France  2011      55.0         1
30   France  2010      87.0         1
31   France  2009     115.0         1
32   France  2008      58.0         1
33   France  2007      20.0         1
34   France  2006      33.0         1
35   France  2005      75.0         1
36   France  2004     100.0         1
37   France  2003      62.0         1
38   France  2002       0.0         1
39   France  2001       0.0         1
40   France  2000       0.0         1
41   France  1999       0.0         1
42   France  1998       0.0         1
43   France  1997       4.0         1
44   France  1996       8.0         1
45   Greece  2014       2.0         1
46   Greece  2013       5.0         1
47   Greece  2012      22.0         1
48   Greece  2011      15.0         1
49  Hungary  2006       2.0         1

In [136]:
# Получаем потребление по странам Прибалтики
balt_df = (country_df
 .query('category in (4, 12, 21)')
 .query('country in ("Estonia", "Latvia", "Lithuania")')
 .query('quantity >= 0')
 .query('year in (2005, 2006, 2007, 2008, 2009, 2010)')
 .groupby('country')
 .agg(sum_quantity = ('quantity','sum'))          
)
balt_df.head(50)

           sum_quantity
country
Estonia         63440.0
Latvia          54844.0
Lithuania      122296.0

In [135]:
print('Cуммарное потребление стран Прибалтики: {}'.format(sum(balt_df['sum_quantity'])))

Cуммарное потребление стран Прибалтики: 240580.0

### Задание 3

In [ ]:
"""
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
"""

In [177]:
# Выберем сайт с данными по коронавирусу и выведем данные по России

table_df = pd.read_html('https://koronavirustoday.ru/info/koronavirus-tablicza-po-stranam-mira-na-segodnya/')
table_df[1].head(50)

,#,"Страна, город",Заболевших всего,На 1 тыс жителей,Заболевших сегодня,Погибло всего,Погибло за сутки,Выздоровело
0,№1.,"Страна, город Москва",Заболевших всего 954619,На 1 тыс жителей 75.3,Заболевших сегодня+1963,Погибло всего 14290,Погибло за сутки+67,Выздоровело 867780
1,№2.,"Страна, город Санкт-Петербург",Заболевших всего 352004,На 1 тыс жителей 65.2,Заболевших сегодня+1130,Погибло всего 10408,Погибло за сутки+52,Выздоровело 266161
2,№3.,"Страна, город Московская область",Заболевших всего 204203,На 1 тыс жителей 26.6,Заболевших сегодня+884,Погибло всего 4208,Погибло за сутки+31,Выздоровело 165578
3,№4.,"Страна, город Нижегородская область",Заболевших всего 90437,На 1 тыс жителей 28.2,Заболевших сегодня+441,Погибло всего 2285,Погибло за сутки+12,Выздоровело 82427
4,№5.,"Страна, город Свердловская область",Заболевших всего 74496,На 1 тыс жителей 17.3,Заболевших сегодня+272,Погибло всего 2210,Погибло за сутки+13,Выздоровело 67303
5,№6.,"Страна, город Ростовская область",Заболевших всего 68349,На 1 тыс жителей 16.3,Заболевших сегодня+342,Погибло всего 2932,Погибло за сутки+23,Выздоровело 58608
6,№7.,"Страна, город Воронежская область",Заболевших всего 62987,На 1 тыс жителей 27.1,Заболевших сегодня+356,Погибло всего 1758,Погибло за сутки+15,Выздоровело 56752
7,№8.,"Страна, город Красноярский край",Заболевших всего 59893,На 1 тыс жителей 20.9,Заболевших сегодня+218,Погибло всего 2602,Погибло за сутки+12,Выздоровело 55000
8,№9.,"Страна, город Архангельская область",Заболевших всего 54197,На 1 тыс жителей 47.7,Заболевших сегодня+198,Погибло всего 552,Погибло за сутки+15,Выздоровело 48166
9,№10.,"Страна, город Иркутская область",Заболевших всего 52031,На 1 тыс жителей 21.8,Заболевших сегодня+259,Погибло всего 1671,Погибло за сутки+7,Выздоровело 47730
10,№11.,"Страна, город Ханты-Мансийский автономный окру...",Заболевших всего 49537,На 1 тыс жителей 13.2,Заболевших сегодня+138,Погибло всего 704,Погибло за сутки+4,Выздоровело 47066
11,№12.+1,"Страна, город Челябинская область",Заболевших всего 47336,На 1 тыс жителей 13.7,Заболевших сегодня+262,Погибло всего 900,Погибло за сутки+8,Выздоровело 39807
12,№13.-1,"Страна, город Хабаровский край",Заболевших всего 47300,На 1 тыс жителей 36,Заболевших сегодня+161,Погибло всего 268,Погибло за сутки+1,Выздоровело 43624
13,№14.,"Страна, город Волгоградская область",Заболевших всего 46336,На 1 тыс жителей 18.6,Заболевших сегодня+218,Погибло всего 682,Погибло за сутки+5,Выздоровело 44289
14,№15.,"Страна, город Саратовская область",Заболевших всего 46304,На 1 тыс жителей 19.1,Заболевших сегодня+229,Погибло всего 597,Погибло за сутки+3,Выздоровело 41137
15,№16.,"Страна, город Ульяновская область",Заболевших всего 45887,На 1 тыс жителей 37.3,Заболевших сегодня+134,Погибло всего 700,Погибло за сутки+0,Выздоровело 42520
16,№17.,"Страна, город Ставропольский край",Заболевших всего 45349,На 1 тыс жителей 16.2,Заболевших сегодня+198,Погибло всего 999,Погибло за сутки+5,Выздоровело 40962
17,№18.,"Страна, город Мурманская область",Заболевших всего 45084,На 1 тыс жителей 60.8,Заболевших сегодня+145,Погибло всего 880,Погибло за сутки+5,Выздоровело 42893
18,№19.,"Страна, город Самарская область",Заболевших всего 44211,На 1 тыс жителей 13.9,Заболевших сегодня+298,Погибло всего 890,Погибло за сутки+7,Выздоровело 40609
19,№20.,"Страна, город Пермский край",Заболевших всего 43367,На 1 тыс жителей 16.7,Заболевших сегодня+263,Погибло всего 1577,Погибло за сутки+10,Выздоровело 36090
20,№21.,"Страна, город Алтайский край",Заболевших всего 41296,На 1 тыс жителей 17.8,Заболевших сегодня+168,Погибло всего 1348,Погибло за сутки+14,Выздоровело 36913
21,№22.,"Страна, город Омская область",Заболевших всего 39343,На 1 тыс жителей 20.4,Заболевших сегодня+158,Погибло всего 1146,Погибло за сутки+4,Выздоровело 35951
22,№23.,"Страна, город Приморский край",Заболевших всего 38757,На 1 тыс жителей 20.4,Заболевших сегодня+142,Погибло всего 591,Погибло за сутки+4,Выздоровело 31326
23,№24.,"Страна, город Республика Карелия",Заболевших всего 38547,На 1 тыс жителей 62.8,Заболевших сегодня+178,Погибло всего 268,Погибло за сутки+3,Выздоровело 34025
24,№25.,"Страна, город Республика Коми",Заболевших всего 38093,На 1 тыс жителей 46.4,Заболевших сегодня+125,Погибло всего 729,Погибло за сутки+1,Выздоровело 36761
25,№26.,"Страна, город Забайкальский край",Заболевших всего 36731,На 1 тыс жителей 34.7,Заболевших сегодня+168,Погибло всего 502,Погибло за сутки+1,Выздоровело 34832
26,№27.,"Страна, город Ямало-Ненецкий автономный округ",Заболевших всего 36411,На 1 тыс жителей 66.9,Заболевших сегодня+55,Погибло всего 391,Погибло за сутки+1,Выздоровело 33780
27,№28.,"Страна, город Вологодская область",Заболевших всего 36221,На 1 тыс жителей 31.2,Заболевших сегодня+232,Погибло всего 704,Погибло за сутки+7,Выздоровело 31453
28,№29.+1,"Страна, город Краснодарский край",Заболевших всего 36014,На 1 тыс жителей 6.3,Заболевших сегодня+170,Погибло всего 1694,Погибло за сутки+17,Выздоровело 28738
29,№30.-1,"Страна, город Оренбургская область",Заболевших всего 36007,На 1 тыс жителей 18.4,Заболевших сегодня+140,Погибло всего 538,Погибло за сутки+4,Выздоровело 32347
30,№31.,"Страна, город Пензенская область",Заболевших всего 35471,На 1 тыс жителей 27.2,Заболевших сегодня+206,Погибло всего 411,Погибло за сутки+2,Выздоровело 28946
31,№32.,"Страна, город Кировская область",Заболевших всего 34467,На 1 тыс жителей 27.3,Заболевших сегодня+149,Погибло всего 279,Погибло за сутки+1,Выздоровело 29264
32,№33.,"Страна, город Республика Крым",Заболевших всего 34257,На 1 тыс жителей 17.9,Заболевших сегодня+139,Погибло всего 852,Погибло за сутки+6,Выздоровело 29887
33,№34.,"Страна, город Новосибирская область",Заболевших всего 33947,На 1 тыс жителей 12.1,Заболевших сегодня+128,Погибло всего 1324,Погибло за сутки+9,Выздоровело 31801
34,№35.,"Страна, город Ленинградская область",Заболевших всего 33403,На 1 тыс жителей 17.8,Заболевших сегодня+193,Погибло всего 497,Погибло за сутки+10,Выздоровело 30260
35,№36.,"Страна, город Республика Бурятия",Заболевших всего 32086,На 1 тыс жителей 32.5,Заболевших сегодня+108,Погибло всего 688,Погибло за сутки+1,Выздоровело 29711
36,№37.,"Страна, город Республика Саха (Якутия)",Заболевших всего 31756,На 1 тыс жителей 32.7,Заболевших сегодня+68,Погибло всего 505,Погибло за сутки+0,Выздоровело 29568
37,№38.,"Страна, город Тверская область",Заболевших всего 31434,На 1 тыс жителей 24.9,Заболевших сегодня+166,Погибло всего 565,Погибло за сутки+6,Выздоровело 27969
38,№39.,"Страна, город Брянская область",Заболевших всего 31180,На 1 тыс жителей 26.1,Заболевших сегодня+140,Погибло всего 248,Погибло за сутки+0,Выздоровело 29862
39,№40.,"Страна, город Тульская область",Заболевших всего 31028,На 1 тыс жителей 21.2,Заболевших сегодня+147,Погибло всего 1130,Погибло за сутки+9,Выздоровело 28540
40,№41.+1,"Страна, город Псковская область",Заболевших всего 30591,На 1 тыс жителей 48.9,Заболевших сегодня+115,Погибло всего 152,Погибло за сутки+2,Выздоровело 19705
41,№42.-1,"Страна, город Кемеровская область (Кузбасс)",Заболевших всего 30580,На 1 тыс жителей 12.8,Заболевших сегодня+82,Погибло всего 544,Погибло за сутки+1,Выздоровело 29391
42,№43.,"Страна, город Ярославская область",Заболевших всего 30447,На 1 тыс жителей 24.3,Заболевших сегодня+173,Погибло всего 351,Погибло за сутки+3,Выздоровело 28643
43,№44.,"Страна, город Тюменская область",Заболевших всего 29912,На 1 тыс жителей 8,Заболевших сегодня+120,Погибло всего 265,Погибло за сутки+0,Выздоровело 28098
44,№45.,"Страна, город Белгородская область",Заболевших всего 29604,На 1 тыс жителей 19.1,Заболевших сегодня+160,Погибло всего 438,Погибло за сутки+5,Выздоровело 26742
45,№46.,"Страна, город Томская область",Заболевших всего 29343,На 1 тыс жителей 27.2,Заболевших сегодня+71,Погибло всего 290,Погибло за сутки+5,Выздоровело 26921
46,№47.,"Страна, город Республика Дагестан",Заболевших всего 28955,На 1 тыс жителей 9.3,Заболевших сегодня+73,Погибло всего 1295,Погибло за сутки+6,Выздоровело 26451
47,№48.,"Страна, город Ивановская область",Заболевших всего 28830,На 1 тыс жителей 28.9,Заболевших сегодня+146,Погибло всего 843,Погибло за сутки+7,Выздоровело 26476
48,№49.,"Страна, город Орловская область",Заболевших всего 28692,На 1 тыс жителей 39.1,Заболевших сегодня+138,Погибло всего 400,Погибло за сутки+5,Выздоровело 25660
49,№50.,"Страна, город Курская область",Заболевших всего 28496,На 1 тыс жителей 25.8,Заболевших сегодня+163,Погибло всего 413,Погибло за сутки+4,Выздоровело 25248